.passBackDrop{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #f3f3f3;
    
    .passFrame{
        padding-top: 2rem;
        width: 100%;
        height: 100%;
        padding: 2rem;
        background-color: #ffffff;

        .passSteps{
            width: 100%;
            height: 4rem;
        }

        .passInput{
            display: flex;
            justify-content: center;
            margin-top: 4rem;
            .passVerifyUser{
                width: 36rem;
                height: 0;
                display: block;
                p{
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    margin-bottom: 1rem;
                }
            }
            .passVerifyEmail{
                width: 36rem;
                height: 0;
                display: block;
                p{
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    margin-bottom: 1rem;
                }
            }
            .passNewPsaaword
            {
                width: 36rem;
                height: 0;
                display: block;
                .passwordP{
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    margin-bottom: 1rem;
                }
            }
        }   
        
    }
}